.formatted-number {
  display: flex;
  align-items: center;
}

.number-group {
  font-size: 40px;
  color: #d9d9d9;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.space {
  width: 5px; /* Отступ между группами цифр */
}
