/* src/components/UI/CoinEffect/CoinEffect.module.scss */

.coinEffect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Занимает всю ширину окна */
  height: 100vh; /* Занимает всю высоту окна */
  pointer-events: none; /* Не блокирует клики по другим элементам */
  z-index: 2000; /* Поверх других элементов */
}

.coin {
  position: absolute;
  width: 40px;
  height: 40px;
  animation: scatter 2s forwards;
  transform: translate(var(--move-x, 0), var(--move-y, 0)) rotate(720deg);
  opacity: 1;
}

@keyframes scatter {
  from {
    opacity: 1;
    transform: translate(var(--move-x, 0), var(--move-y, 0)) rotate(0deg);
  }
  to {
    opacity: 0;
    transform: translate(var(--move-x, 0), var(--move-y, 0)) rotate(720deg);
  }
}
