.modal_wrapper {
  padding-top: 70px;
}

.modalTitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #f1f1f1;
  margin-bottom: 30px;
}

.modalContent {
  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #888888;
    margin-bottom: 20px;
  }
}
