.passive-income-text {
  font-size: 18px;
  font-weight: 700;
  background: linear-gradient(
    140.39deg,
    #deb565 10.72%,
    #edc871 45.29%,
    #ffffa8 109.99%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
