/* src/components/BusterModalContent/BusterModalContent.module.scss */

.busterModalContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
  color: #fff;

  .booster_price_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 28px;

    .coinIcon {
      width: 30px;
      height: 30px;
    }

    .booster_price_title {
      font-size: 32px;
      font-weight: 700;
      line-height: 30px;
      text-align: left;
      color: #f1f1f1;
    }
  }

  .image_wrapper {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;

    img {
      border-radius: 10px;
      max-height: 200px;
      width: 100%;
      object-fit: cover;
    }
  }

  .title {
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: #f1f1f1;
    margin-bottom: 27px;
  }

  .level {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #f1f1f1;
    margin-bottom: 23px;
  }

  .income_info {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #ffffffb2;
    margin-bottom: 23px;
  }

  .passive_income_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin-bottom: 64px;

    .passive_income_value {
      font-size: 32px;
      font-weight: 700;
      text-align: left;
      color: #f1f1f1;
    }
  }

  .buy_btn {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(
      140.39deg,
      #deb565 10.72%,
      #edc871 45.29%,
      #ffffa8 109.99%
    );
    height: 60px;
    box-sizing: border-box;
    color: #2d3236;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s, transform 0.2s;

    &:hover:not(:disabled) {
      background: linear-gradient(
        140.39deg,
        #e0b55c 10.72%,
        #eec979 45.29%,
        #ffffb0 109.99%
      );
      transform: scale(1.02); /* Легкое увеличение при наведении */
    }

    &:active:not(:disabled) {
      box-shadow: 0px 4px 10px 0px #604000 inset;
      transform: scale(0.98); /* Легкое уменьшение при нажатии */
    }

    &.disabled {
      background: linear-gradient(
        140.39deg,
        #a9a9a9 10.72%,
        #c0c0c0 45.29%,
        #d3d3d3 109.99%
      );
      cursor: not-allowed;
      opacity: 0.7;
      pointer-events: none; /* Полностью отключаем взаимодействие */
      /* Убираем любые трансформации для отключённого состояния */
      &:hover,
      &:active {
        transform: none;
        box-shadow: none;
      }
    }
  }

  .maxLevelMessage {
    margin-bottom: 15px;
    padding: 10px 20px;
    background-color: #ff4d4f;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    animation: fadeIn 0.5s ease-in-out;
    text-align: center;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
