/* src/pages/MainPage/MainPage.scss */

/* Стили для отображения монет */
/* src/pages/MainPage/MainPage.scss */

.main-page-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow: hidden;
  touch-action: none;
  z-index: 100;
  /* Добавьте любые дополнительные стили, необходимые для адаптивности */
}

.coin-display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.coin-display_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.coin-icon {
  width: 60px;
  height: 60px;
}

.coin-count {
  font-size: 40px;
  color: #d9d9d9;
  font-weight: 600;
  line-height: 55.46px;
  margin: 10px 0;
  position: relative;
  height: 60px;

  /* Добавление плавного изменения цвета */
  transition: color 0.3s ease-in-out;
}

.coin-count:hover {
  color: #e2ba68; /* Изменение цвета при наведении */
}

.coin-count:hover::after {
  transform: scaleX(1);
}

.passive-income {
  font-size: 18px;
  color: #bbb;
  margin-top: 5px;
}

.button__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bottom_actions {
  padding: 0 25px;
  margin-bottom: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Убедитесь, что здесь нет стилей модального окна */
