.shopPage {
  /* min-height: 100vh; Удаляем это свойство */
  display: flex;
  flex-direction: column;
  flex: 1; /* Добавляем flex: 1 для заполнения доступного пространства */
}

.scrollContainer {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* Если padding-bottom не нужен, можно его убрать */
  /* padding-bottom: 80px; */
}

.shop_title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #f1f1f1;
  margin-bottom: 10px;
}

.tabNavigation {
  display: flex;
  justify-content: space-between;
  padding: 5px 8px;
  background: #2d3236;
  height: 50px;
  border-radius: 10px;
}

.tabContent {
  padding-top: 15px;
}

.tabButton {
  flex: 1;
  padding: 8px 16px;
  background-color: transparent;
  border: none;
  color: #f1f1f1;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &.active {
    background-color: #1f1f1f;
  }

  &:not(.active):hover {
    background-color: #3e3e3e;
  }
}
