/* src/components/FooterNav/FooterNav.scss */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px; /* Высота футера */
  background-color: #2d3236;
  z-index: 150;
  /* Остальные стили */
}

.footer_menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  .footer_menu__item {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 12px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    text-decoration: none;

    &.active {
      background-color: #000;

      svg path {
        stroke: #fff;
      }

      .nav-label {
        color: #fff;
      }
    }

    &:hover {
      background-color: #000;

      .nav-label {
        color: #fff;
      }
    }

    .nav-label {
      margin-top: 5px;
      font-size: 12px;
      color: rgb(117, 117, 117);
      transition: color 0.3s ease;
    }
  }

  .leaderboard__link {
    &.active {
      svg path {
        fill: none !important;
      }
    }
  }

  svg {
    width: 30px;
    height: 30px;
  }

  .nav-icon {
    svg path {
      fill: rgb(117, 117, 117);
      transition: fill 0.3s ease, stroke 0.3s ease;
    }
  }
}

.active_shop_link {
  background-color: #000;
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 600px) {
  .footer {
    padding: 8px 10px;
    height: 80px; /* Убедитесь, что высота футера остается постоянной */
  }

  .footer_menu__item a {
    width: 60px;
    height: 60px;
  }

  .footer_menu__item a .nav-label {
    font-size: 11px;
  }

  .footer_menu__item a svg {
    width: 28px;
    height: 28px;
  }
}
