.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background: #f0f4f8;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .App {
    padding: 0 10px;
  }
}

@media (min-width: 1024px) {
  .App {
    padding: 20px;
    max-width: 80vw;
  }
}

/* index.css или App.scss */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

/* index.css или App.scss */

/* index.css или App.scss */

* {
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none; /* Standard */
}

.loading {
  text-align: center;
  color: #fff;
  background-color: #272727;
}
