@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  touch-action: none; /* Отключаем реакцию на свайпы и другие тач-события */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Source Sans Pro", "Segoe UI",
    Roboto, "Helvetica Neue", Ubuntu, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
