.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #272727;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* Удаляем overflow: hidden */
  padding-bottom: 75px; /* Добавляем отступ снизу, равный высоте футера */
  overflow-y: auto; /* Разрешаем вертикальную прокрутку */
}
